# Credential
CONFIG_APP_WIFI_SSID="YOUR_SSID_WIFI"
CONFIG_APP_WIFI_PSK="YOUR_WIFI_PASSWORD"
CONFIG_APP_HTTP_HOST="localhost"
CONFIG_APP_HTTP_IP="104.18.26.120"
CONFIG_APP_HTTP_PORT=8080
CONFIG_APP_HTTPS_PORT=443
CONFIG_APP_HTTP_PATH="/"
CONFIG_APP_OTA_PATH="/ota"

